
@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url('../fonts/Inconsolata.woff') format('woff');
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Inconsolata, monospace;
  color: white;
  background: rgba(0,0,0,1);
}

.interlace {
  position: fixed;
  left: 0;
  bottom: 0;
  background: url(../img/interlace.png) top left repeat, rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 10;
  pointer-events: none;
}

#terminal {
  width: 100%;
  padding: 1em 1.5em 1em 1em;
  text-shadow: 0 0 5px #C8C8C8;
}

#terminal output {
  clear: both;
  width: 100%;
}

.input-line {
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}

.prompt {
  white-space: nowrap;
  color: #ffcc00;
  margin-right: 7px;
}

.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
